body, html {
	background-color: rgb(45, 45, 45);
	color: rgb(60, 60, 60);
	cursor: default;
	font-family: "Helvetica", san-serif;
}

a {
	text-decoration: none;
	color: lightgrey;
	font-size: 1.2em;
}

a:hover {
	color: #F46242;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	height: 10%;
}

.nav div {
	flex-basis: 100%;
}

.nav div.social {
	display: flex;
}

.nav div.social div {
	flex-basis: 100%;
	text-align: center;
	color: lightgrey;
	font-weight: 700;
	letter-spacing: 2px;
	font-family: "Times New Roman";
}

.title {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	text-align: center;
}

.title:hover {
	color: #F46242;;
}

.sam-container {
	margin: 0 auto;
	width: 80%;
}

.sam-container div {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 5%;
}

.sam-container div div {
	flex-basis: 50%;
}

.sam-container div div:nth-child(2) {
	text-align: left;
}

.desc {
	color: lightgrey;
}

img {
	margin-top: 5%;
	max-width: 300px;
}