body, html {
	background-color: rgb(45, 45, 45);
	color: rgb(60, 60, 60);
	cursor: default;
	font-family: "Helvetica", san-serif;
}

.sam-container {
	margin: 0 auto;
	width: 80%;
}

.sam-container div {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.sam-container div div:nth-child(1) {
	flex-basis: 100%;
}

.sam-container div div:nth-child(2) {
	flex-basis: 50%;
	text-align: left;
}

.sam-container div div:nth-child(3) {
	flex-basis: 50%;
}

.desc {
	color: lightgrey;
}

img {
	margin-top: 5%;
	max-width: 300px;
}

.title {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 700;
}

.title:hover {
	color: lightgrey;
}